h1 {
    text-align: center;
}
#contents {
    display: table;
    text-align: center;
    margin: auto;
}
.cell {
    display: table-cell;
    padding: 0 5px;
}
.box {
    border: 1px solid #333;
    width: 410px;
    height: 310px;
    background-color: #F0FFFF;
    position: relative;
}
.ball {
    position: absolute;
    top: 0;
    left: 0;
    background-color: blue;
    width: 10px;
    height: 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
}
#gravity_off {
    background-color: red;
}
#gravity_on {
    background-color: blue;
}
